{if !$problem}
<form action="changeshipname.php" method="post">
	<input type="hidden" name="token" value="{$token}"/>
<input type="hidden" name="shipid" value="{$shipid}" />
<input type="text" name="new_name" value="{$shipname}" />
<input type="submit" value="Changer"/>
</form>
{/if}
