<a href="index.php?page=messages">&lt;Retour</a><br />
{if !is_null($message->getSender())}De : {$message->getSender()->getLogin()}<br />{/if}
À : {$message->getRecipient()->getLogin()}<br />
Message :<br />
<pre>{$message->getMessage($i18n)}</pre>
