FTL Escape version {$version} | &copy; Copyright 2015 Kevin Merigot (<a href="/AGPLv3.txt">Licence AGPL</a>) | <a href="https://git.framasoft.org/llm/ftl-escape">FTL Escape Engine</a> | <a href="http://www.mypersonnaldata.eu/contact.html">Contact</a>
